{% extends 'base.html.twig' %}

{% block title %}Paste{% endblock %}

{% block body %}
    <h1>Paste</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paste.uuid }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ paste.name }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ paste.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_main') }}">back to list</a>
{% endblock %}
